<a href="https://colab.research.google.com/github/Momocute/BasicProg_DataViz65/blob/main/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
unit = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

#ตรวจสอบ Missing (isnull)

In [ ]:
unit.isnull()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,False,False,False,False,False,False,False,True,False,True,...,True,False,True,True,True,True,False,False,False,False
42621,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
42622,False,False,False,False,False,False,False,True,False,True,...,False,True,True,True,True,True,False,False,False,False
42623,False,False,False,False,False,False,False,True,False,False,...,True,False,True,True,True,True,False,False,False,False
42624,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False

In [ ]:
unit.isnull().any() #การเอาค่าความจริงใน colum มา or กัน

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [ ]:
unit.isnull().all() #การเอาค่าความจริงใน colum มา and กัน

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
area_usable_min         False
price_min               False
count_airconditioner    False
count_elevator           True
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

unit.isnull().any().any()

In [ ]:
unit.isnull().any().any()

True

#ลบ missing

missing -> null,na(not autorizes),NaN(not a number)

In [ ]:
unit.dropna #ลบmissingไปเลย

<bound method DataFrame.dropna of        row_number               unittype_id                project_id  \
0           27501             unittype_9565              project_2446
1           28777            unittype_10267              project_3543
2           28865              unittype_471               project_143
3           24988            unittype_19506              project_7766
4           38596            unittype_10290              project_3551
...           ...                       ...                       ...
42620       37109            unittype_38508             project_16864
42621          14            unittype_14016              project_5275
42622       41009  617bde1687dd2300149d2195  617bdd47f62011001350de07
42623        9333            unittype_37375             project_16389
42624         780            unittype_17011              project_6762

                   name_th  propertytype_id propertytype_name_en  \
0                2 Bedroom                2                Condo
1       บ้านแฝดสองชั้น Z-2            20000           Twin house
2         1 Bedroom Type B                2                Condo
3         Studio Floor 1-2                2                Condo
4                     TH 3                3             Townhome
...                    ...              ...                  ...
42620               Canola                1       Detached House
42621             Grandeur                1       Detached House
42622               Grande                3             Townhome
42623  บ้านเดี่ยวชั้นเดียว                1       Detached House
42624             บ้านธารา                1       Detached House

      propertytype_name_th  area_total_min_wa  area_usable_min  price_min  \
0                    คอนโด                NaN             37.3  2500000.0
1                  บ้านแฝด               40.0            150.0  2390000.0
2                    คอนโด                NaN             28.0        NaN
3                    คอนโด                NaN             27.0   170000.0
4                 ทาวน์โฮม                NaN            182.0  2390000.0
...                    ...                ...              ...        ...
42620                 บ้าน                NaN            157.0        NaN
42621                 บ้าน                NaN            223.0  7490000.0
42622             ทาวน์โฮม                NaN            133.0        NaN
42623                 บ้าน                NaN            180.0  3200000.0
42624                 บ้าน                NaN            170.0  3790000.0

       ...  count_room_guest  count_room_kitchen  count_room_living  \
0      ...               1.0                 1.0                NaN
1      ...               NaN                 NaN                NaN
2      ...               NaN                 NaN                NaN
3      ...               NaN                 NaN                NaN
4      ...               1.0                 1.0                NaN
...    ...               ...                 ...                ...
42620  ...               NaN                 1.0                NaN
42621  ...               NaN                 NaN                NaN
42622  ...               1.0                 NaN                NaN
42623  ...               NaN                 1.0                NaN
42624  ...               1.0                 1.0                NaN

       count_room_maid  count_room_storage  count_room_utility  \
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 2.0                 NaN
...                ...                 ...                 ...
42620              NaN                 NaN                 NaN
42621              NaN                 NaN                 NaN
42622              NaN                 NaN                 NaN
42623              NaN                 NaN                 NaN
42624              NaN                 NaN                 NaN

              date_created         date_updated  source  \
0      2021-11-19 18:00:09  2021-11-19 17:44:45  baania
1      2022-01-27 14:30:04  2022-01-27 14:22:55  baania
2      2022-01-14 15:00:10  2022-01-14 14:40:04  baania
3      2020-12-04 10:40:59  2020-10-14 01:06:48  baania
4      2021-11-12 13:30:08  2021-02-03 12:12:54  baania
...                    ...                  ...     ...
42620  2021-11-12 13:22:37  2020-10-14 10:05:42  baania
42621  2020-12-04 10:36:32  2020-10-14 00:37:51  baania
42622  2021-11-12 13:34:17  2021-10-29 18:43:09  baania
42623  2020-12-04 10:42:26  2020-10-14 19:30:46  baania
42624  2021-11-12 13:19:43  2020-10-14 00:41:39  baania

                                            url_unittype
0      https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1      https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2      https://baania.com/th/project/วันพลัส-นายน์ทีน...
3      https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4      https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...                                                  ...
42620  https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621  https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622  https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623  https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624  https://baania.com/th/project/วราสิริ-รังสิต-ด...

[42625 rows x 27 columns]>

In [ ]:
unit.dropna(axis=1)

,row_number,unittype_id,project_id,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source
0,27501,unittype_9565,project_2446,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania
1,28777,unittype_10267,project_3543,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania
2,28865,unittype_471,project_143,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania
3,24988,unittype_19506,project_7766,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania
4,38596,unittype_10290,project_3551,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania
...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania
42621,14,unittype_14016,project_5275,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania
42623,9333,unittype_37375,project_16389,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania
42624,780,unittype_17011,project_6762,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania

In [ ]:
unit.dropna(thresh=22)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
11,2452,unittype_8521,project_2906,New Villa Valdivia,1,Detached House,บ้าน,NaN,441.0,36900000.0,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:47,baania,https://baania.com/th/project/แกรนด์-บางกอก-บู...
41,5766,unittype_31346,project_13202,Acacia,1,Detached House,บ้าน,NaN,185.0,9450000.0,...,1.0,1.0,1.0,NaN,1.0,NaN,2022-03-15 16:30:11,2022-03-15 16:22:00,baania,https://baania.com/th/project/88-แลนด์-แอนด์-เ...
42,38678,unittype_27892,project_11388,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,20.3,144.0,2680000.0,...,1.0,1.0,NaN,NaN,1.0,NaN,2021-11-12 13:33:35,2021-07-15 15:22:52,baania,https://baania.com/th/project/เดอะ-เรสซิเด้นท์...
94,35674,unittype_33903,project_14528,ทาวน์โฮมสองชั้น Type A,3,Townhome,ทาวน์โฮม,21.0,130.0,2000000.0,...,1.0,1.0,NaN,NaN,1.0,NaN,2021-11-12 13:27:19,2021-01-07 10:37:11,baania,https://baania.com/th/project/เดอะ-ไนน์-แอท-ปร...
101,34592,unittype_20435,project_8011,Penthouse,2,Condo,คอนโด,NaN,116.0,21000000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-05-19 12:00:10,2022-05-19 11:33:29,baania,https://baania.com/th/project/อินเตอร์-ลักส์-พ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42503,30946,unittype_10670,project_3705,HBB3,1,Detached House,บ้าน,NaN,217.0,7960000.0,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:19:40,2020-10-14 00:40:15,baania,https://baania.com/th/project/ฮาบิเทีย-ราชพฤกษ...
42524,4811,unittype_3960,project_1261,Amplio-CM,1,Detached House,บ้าน,NaN,184.0,11990000.0,...,1.0,1.0,NaN,NaN,1.0,NaN,2022-02-07 15:30:06,2022-02-07 15:19:43,baania,https://baania.com/th/project/สีวลี-ศรีเวียง-เ...
42541,4636,unittype_30403,project_9963,ศุภกฤต,1,Detached House,บ้าน,89.8,213.0,5630000.0,...,1.0,1.0,NaN,NaN,1.0,NaN,2021-11-12 13:17:15,2018-03-13 16:31:48,baania,https://baania.com/th/project/ศุภาลัย-การ์เด้น...
42561,36742,unittype_24495,project_9696,Cayla,1,Detached House,บ้าน,NaN,383.0,15230000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2021-11-12 13:18:33,2020-05-26 17:40:28,baania,https://baania.com/th/project/คาซาลูนา-เมสโต-โ...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...

In [ ]:
unit.dropna(axis=1,thresh=42000)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit.head().dropna(axis=1,thresh=2)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_usable_min,price_min,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,37.3,2500000.0,NaN,NaN,1.0,2.0,1.0,1.0,1.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,150.0,2390000.0,2.0,2.0,3.0,3.0,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,28.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,27.0,170000.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,182.0,2390000.0,3.0,2.0,3.0,3.0,1.0,1.0,1.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit.dropna(subset=['propertytype_name_en','price_min','area_usable_min']) ##สนใจ colum ไหนใส่เข้าไปจะลบ missing ใน colum นั้น

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit1 = unit.dropna(subset=['propertytype_name_en','price_min','area_usable_min']) #เอา unit1 มารับ

In [ ]:
unit1.shape

(31772, 27)

In [ ]:
unit.shape

(42625, 27)

In [ ]:
unit.dropna(subset=['propertytype_name_en','price_min','area_usable_min'],inplace=True) #inplaceแทนค่า

In [ ]:
unit.shape

(42625, 27)

## แทนค่า missing ด้วยค่าที่เราต้องการ (fillna())

In [ ]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit.fillna(0) #ทุกค่าที่เป็นmissing แทนค่าเป็น0

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,0.0,37.3,2500000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,0.0,28.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,0.0,27.0,170000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,0.0,182.0,2390000.0,...,1.0,1.0,0.0,0.0,2.0,0.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,0.0,157.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,0.0,223.0,7490000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,0.0,133.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,180.0,3200000.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,0.0,170.0,3790000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit.fillna(value={'count_room_utility':0,'area_total_min_wa':unit['area_total_min_wa'].mean()}) #ใช้คำสั่งหาค่าเฉลี่ยใน area_total_min_wa

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,44.413819,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,0.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.000000,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,44.413819,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,44.413819,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,44.413819,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,0.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,44.413819,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,0.0,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,44.413819,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,0.0,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,44.413819,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,0.0,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,44.413819,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,0.0,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,44.413819,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,0.0,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
{'count_room_utility':0,'area_total_min_wa':unit['area_total_min_wa'].mean()} #{}=dicionaly

{'area_total_min_wa': 44.41381905524419, 'count_room_utility': 0}

## วนลูป record ในตาราง (iterrows)

In [ ]:
unit.iterrows()

In [ ]:
for row in unit.head().iterrows():
  print(row)

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
(2, row_number                                                          28865
unittype_id                                                  unittype_471
project_id                                                    project_143
name_th                                                  1 Bedroom Type B
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      28.0
price_min                                                             NaN
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        1.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-14 15:00:10
date_updated                                          2022-01-14 14:40:04
source                                                             baania
url_unittype            https://baania.com/th/project/วันพลัส-นายน์ทีน...
Name: 2, dtype: object)
(3, row_number                                                          24988
unittype_id                                                unittype_19506
project_id                                                   project_7766
name_th                                                  Studio Floor 1-2
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      27.0
price_min                                                        170000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        0.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2020-12-04 10:40:59
date_updated                                          2020-10-14 01:06:48
source                                                             baania
url_unittype            https://baania.com/th/project/บ้านสวนชมน้ำ-776...
Name: 3, dtype: object)
(4, row_number                                                          38596
unittype_id                                                unittype_10290
project_id                                                   project_3551
name_th                                                              TH 3
propertytype_id                                                         3
propertytype_name_en                                             Townhome
propertytype_name_th                                             ทาวน์โฮม
area_total_min_wa                                                     NaN
area_usable_min                                                     182.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  3.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    2.0
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:30:08
date_updated                                          2021-02-03 12:12:54
source                                                             baania
url_unittype            https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
Name: 4, dtype: object)

In [ ]:
for row in unit.head(2).iterrows():
  print(row)

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)

In [ ]:
for row in unit.head(100).iterrows():
  if 'project_' not in row[1]['project_id']:
      print(row)

(8, row_number                                                          41823
unittype_id                                      6215b4a7a441d30014e1f02f
project_id                                       6215b1cfc1620300140bc087
name_th                                        บ้านเดี่ยวชั้นเดียว Type C
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      80.0
price_min                                                        990000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         1.0
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-23 12:00:12
date_updated                                          2022-02-23 11:14:31
source                                                             baania
url_unittype            https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
Name: 8, dtype: object)
(16, row_number                                                          41850
unittype_id                                      621700a8a441d30014e1f0f3
project_id                                       6216fee6a441d30014e1f0f2
name_th                                               บ้านเดี่ยวชั้นเดียว
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      83.0
price_min                                                       2200000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         2.0
count_room_bath                                                       2.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-24 12:00:06
date_updated                                          2022-02-24 11:38:52
source                                                             baania
url_unittype            https://baania.com/th/project/อินทรวิลเลจ-6216...
Name: 16, dtype: object)
(23, row_number                                                          19479
unittype_id                                      60113e51061df200134fb4ef
project_id                                       5e8bfc839f161600121b497d
name_th                                                 บ้านเดี่ยวสองชั้น
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     300.0
price_min                                                       9900000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       4.0
count_room_bed                                                        4.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     2.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:29:44
date_updated                                          2021-01-27 17:22:06
source                                                             baania
url_unittype            https://baania.com/th/project/ไพรเวท-33-5e8bfc...
Name: 23, dtype: object)
(24, row_number                                                          17281
unittype_id                                      5f27d69182035a001a6f333e
project_id                                       5f0d4f38b285eb00194decde
name_th                                                            Studio
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      26.0
price_min                                                       1790000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        0.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-04-26 15:30:06
date_updated                                          2022-04-26 15:19:49
source                                                             baania
url_unittype            https://baania.com/th/project/ดีคอนโด-ไฮด์อเวย...
Name: 24, dtype: object)
(25, row_number                                                          17337
unittype_id                                      5f2d048d306e7e0019068fad
project_id                                       5f2cdf27306e7e0019068f25
name_th                                                  โฮมออฟฟิศสามชั้น
propertytype_id                                                         6
propertytype_name_en                                          Home office
propertytype_name_th                                            โฮมออฟฟิศ
area_total_min_wa                                                     NaN
area_usable_min                                                     210.0
price_min                                                       6300000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  3.0
count_parking                                                         1.0
count_room_bath                                                       4.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    NaN
count_room_living                                                     1.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:18:59
date_updated                                          2020-08-07 14:38:19
source                                                             baania
url_unittype            https://baania.com/th/project/นิวเอจ-สตูดิโอเฮ...
Name: 25, dtype: object)
(31, row_number                                                          17879
unittype_id                                      5f682d5d0499a4001b30c305
project_id                                       5f6472855bdc5300198eb80a
name_th                                                        2BR Duplex
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                     293.0
price_min                                                      34222500.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       2.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      NaN
count_room_kitchen                                                    1.0
count_room_living                                                     1.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:26:37
date_updated                                          2020-12-25 11:27:21
source                                                             baania
url_unittype            https://baania.com/th/project/ไบรท์-ภูเก็ต-5f6...
Name: 31, dtype: object)
(36, row_number                                                          41240
unittype_id                                      61ca7193573dfc0014da6ce4
project_id                                       61ca6e77573dfc0014da6cdb
name_th                                                           DUCHAMP
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     156.0
price_min                                                             NaN
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    1.0
count_room_guest                                                      NaN
count_room_kitchen                                                    1.0
count_room_living                                                     1.0
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-12-28 09:30:05
date_updated                                          2021-12-28 09:08:49
source                                                             baania
url_unittype            https://baania.com/th/project/แลนซีโอ-คริป2-เพ...
Name: 36, dtype: object)
(39, row_number                                                          14877
unittype_id                                      5e8fef2e9f161600121b507e
project_id                                       5e8feb119f161600121b5072
name_th                                                           Avignon
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     570.0
price_min                                                      74000000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         4.0
count_room_bath                                                       6.0
count_room_bed                                                        5.0
count_room_dinning                                                    1.0
count_room_guest                                                      NaN
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       2.0
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-12 13:30:41
date_updated                                          2021-03-02 17:52:20
source                                                             baania
url_unittype            https://baania.com/th/project/เลค-เลเจนด์-แจ้ง...
Name: 39, dtype: object)
(46, row_number                                                          42140
unittype_id                                      623ac0b5aae18f00134069e4
project_id                                       623ab1df587c1b00149b6e89
name_th                                                        Pool villa
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     500.0
price_min                                                             NaN
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         3.0
count_room_bath                                                       5.0
count_room_bed                                                        5.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-03-23 14:00:08
date_updated                                          2022-03-23 13:44:01
source                                                             baania
url_unittype            https://baania.com/th/project/ไฮด์อเวย์-แอท-บา...
Name: 46, dtype: object)
(51, row_number                                                          14631
unittype_id                                      5e85b674e146a400123ef326
project_id                                       5e85b506e146a400123ef324
name_th                                               บ้านเดี่ยวชั้นเดียว
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                     137.0
price_min                                                       2590000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         2.0
count_room_bath                                                       2.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN

In [ ]:
for row in unit.head(100).iterrows():
  if 'สตูดิโอ' not in row[1]['url_unittype']:
      print(row[1]['url_unittype'])

https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาดพร้าว-วังหิน-79-2446/2-bedroom-unittype_9565
https://baania.com/th/project/เซน-บาย-ศิวาลัย-3543/บ้านแฝดสองชั้น-z-2-unittype_10267
https://baania.com/th/project/วันพลัส-นายน์ทีน-143/1-bedroom-type-b-unittype_471
https://baania.com/th/project/บ้านสวนชมน้ำ-7766/studio-floor-1-2-unittype_19506
https://baania.com/th/project/เบล็สทาวน์-ศรีนครินทร์-หนามแดง-3551/th-3-unittype_10290
https://baania.com/th/project/คาซ่า-แกรนด์-ตากสิน-พระราม-2-2694/luciano-grand-unittype_8026
https://baania.com/th/project/บ้านชมดาว-7531/อาคารพาณิชย์สามชั้น-unittype_23233
https://baania.com/th/project/บ้านชัยพฤกษ์-บางคูวัด-5799/บ้านเดี่ยวสองชั้น-type-a-unittype_14501
https://baania.com/th/project/เฌอลินน์ดา-ซำสูง-6215b1cfc1620300140bc087/บ้านเดี่ยวชั้นเดียว-type-c-6215b4a7a441d30014e1f02f
https://baania.com/th/project/บ้านลีลาวดี-บ้านสวนไทย-14884/บ้านเดี่ยวชั้นเดียว-unittype_34564
https://baania.com/th/project/ซิตี้โฮม-รัตนาธิเบศร์-4107/studio-floor-5-8-unittype_15162
https://baania.com/th/project/แกรนด์-บางกอก-บูเลอวาร์ด-พระราม-9-ศรีนครินทร์-2906/new-villa-valdivia-unittype_8521
https://baania.com/th/project/บ้านกลางเมือง-ลาดพร้าว-87-8692/type-b-unittype_22911
https://baania.com/th/project/ไลโอ-บลิสซ์-เศรษฐกิจ-พุทธสาคร-3391/haus-61516ba1cd39f40018537c6d
https://baania.com/th/project/พัทยา-เดล-เรย์-10313/1-bedroom-unittype_25780
https://baania.com/th/project/เค-ซี-พร็อพเพอร์ตี้-หนองปรือ-เครือสหพัฒน์-11464/ทาวน์โฮมสองชั้น-unittype_28034
https://baania.com/th/project/อินทรวิลเลจ-6216fee6a441d30014e1f0f2/บ้านเดี่ยวชั้นเดียว-621700a8a441d30014e1f0f3
https://baania.com/th/project/ศุภาลัย-ซิตี้-รีสอร์ท-สถานีแบริ่ง-สุขุมวิท-105-8068/2-bedroom-ขายแล้ว-unittype_20615
https://baania.com/th/project/ประภัสสร-แกรนด์วิลล์-ดอนหัวฬ่อ-9421/อาคารพาณิชย์สองชั้น-unittype_28855
https://baania.com/th/project/บ้านเชิงดอย-843/บ้านเชิงดอย-unittype_1641
https://baania.com/th/project/บ้านมณีรินทร์-พาร์ค-6901/บ้านเดี่ยวสองชั้น-type-a-unittype_17266
https://baania.com/th/project/ลานนาซิตี้ปาร์ค-36/house-type-plan-1-unittype_1888
https://baania.com/th/project/เดอะ-ทรีโอ-การ์เด้น-15801/2-bedroom-unittype_36858
https://baania.com/th/project/ไพรเวท-33-5e8bfc839f161600121b497d/บ้านเดี่ยวสองชั้น-60113e51061df200134fb4ef
https://baania.com/th/project/ดีคอนโด-ไฮด์อเวย์-รังสิต-5f0d4f38b285eb00194decde/studio-5f27d69182035a001a6f333e
https://baania.com/th/project/ปาร์ค-พุทธบูชา-48-3143/2-bedroom-unittype_9188
https://baania.com/th/project/เซอราโน่-คอนโดมิเนียม-พระราม-2-5809/1-bedroom-unittype_18893
https://baania.com/th/project/สุพรีม-คอนโด-ราชวิถี-3-8002/1-bedroom-unittype_20402
https://baania.com/th/project/พีค-การ์เด้น-คอนโดมิเนียม-901/type-o-ขายแล้ว-unittype_3494
https://baania.com/th/project/พฤกษ์ลดา-สุวรรณภูมิ-3592/c-create-5f62e8f75bdc5300198eb21c
https://baania.com/th/project/ไบรท์-ภูเก็ต-5f6472855bdc5300198eb80a/2br-duplex-5f682d5d0499a4001b30c305
https://baania.com/th/project/โอโซนวิลล่า-ภูเก็ต-14048/พีพีวิลล์-unittype_32964
https://baania.com/th/project/โมด้าคอนโด-409/type-j-unittype_3043
https://baania.com/th/project/สุขเจริญเพลซ-6767/1-bedroom-unittype_17024
https://baania.com/th/project/บ้านล้านนาธารา-เฟส2-754/type-c-unittype_3461
https://baania.com/th/project/แลนซีโอ-คริป2-เพชรเกษม-ไร่ขิง-61ca6e77573dfc0014da6cdb/duchamp-61ca7193573dfc0014da6ce4
https://baania.com/th/project/บางกอก-การ์เด้น-9231/4-bedroom-unittype_23137
https://baania.com/th/project/บ้านร่มไม้ชายเล-13499/บ้านเดี่ยวสามชั้น-unittype_31916
https://baania.com/th/project/เลค-เลเจนด์-แจ้งวัฒนะ-5e8feb119f161600121b5072/avignon-5e8fef2e9f161600121b507e
https://baania.com/th/project/เดอะ-เพลส-พระตำหนัก-10980/studio-unittype_27113
https://baania.com/th/project/88-แลนด์-แอนด์-เฮ้าส์-เกาะแก้ว-13202/acacia-unittype_31346
https://baania.com/th/project/เดอะ-เรสซิเด้นท์-แอท-มาบตาพุด-11388/ทาวน์โฮมสองชั้น-unittype_27892
https://baania.com/th/project/เดอะแกรนด์-คาซ่า-อ่างศิลา-10881/บ้านเดี่ยวสองชั้น-type-b-unittype_26973
https://baania.com/th/project/เดอะวิสต้า-เก้ากิโล-เขาน้ำซับ-10579/holly-2-unittype_26262
https://baania.com/th/project/อนานคร-9-10052/ทาวน์โฮมชั้นเดียว-unittype_25180
https://baania.com/th/project/ไฮด์อเวย์-แอท-บายพาส-2-623ab1df587c1b00149b6e89/pool-villa-623ac0b5aae18f00134069e4
https://baania.com/th/project/เดอ-ลาพีส-จรัญ-81-16971/1-bedroom-unittype_38796
https://baania.com/th/project/มาลาดา-โฮม-แอนด์-รีสอร์ท-เชียงใหม่-84/office-villa-type-a-unittype_267
https://baania.com/th/project/มิวส์-เย็นอากาศ-2421/บ้านเดี่ยวสี่ชั้น-ขายหมดแล้ว-unittype_7305
https://baania.com/th/project/เดอะ-กรีนเนอรี่-บ่อวิน-11359/1-bedroom-unittype_27839
https://baania.com/th/project/บ้านถุงทอง-แอท-บ้านหม้อ-5e85b506e146a400123ef324/บ้านเดี่ยวชั้นเดียว-5e85b674e146a400123ef326
https://baania.com/th/project/บ้านสมหวังคันทรีโฮม-1048/พรทิวา-2-unittype_3543
https://baania.com/th/project/เดอะ-ปาร์ค-10945/1-bedroom-unittype_27050
https://baania.com/th/project/สมาร์ท-แลนด์-ฮิลล์ไซต์-16474/บ้านเดี่ยวชั้นเดียว-unittype_37542
https://baania.com/th/project/เดอะ-คอนเนค-วงแหวน-รามอินทรา-2-3099/hx-2-ขายแล้ว-unittype_9054
https://baania.com/th/project/วิลล่า-นอร์เวย์-เรสสิเดนท์-1-6062d7016bb5970014340088/3-bedroom-6062da386bb597001434008c
https://baania.com/th/project/พรอม-พหลโยธิน-2-15882/studio-unittype_36894
https://baania.com/th/project/ดิ-ออร่า-ทาวน์โฮม-13755/ทาวน์โฮมสองชั้น-unittype_32418
https://baania.com/th/project/เต็มสิริ-แกรนด์-มีนบุรี-สามวา-2992/grand-town-a-unittype_17114
https://baania.com/th/project/โคซี่-บีช-วิว-คอนโดมิเนียม-10857/3-bedroom-ขายแล้ว-unittype_26910
https://baania.com/th/project/เอพลัส-2-รัตนาธิเบศร์-2047/type-c-floor-7-8-unittype_14760
https://baania.com/th/project/มหาทรัพย์คอนโดทาวน์-3837/studio-unittype_11045
https://baania.com/th/project/พฤกษ์ลดา-ประชาอุทิศ-90-3161/walnut-unittype_9224
https://baania.com/th/project/บ้านปฐวีกาญจน์-4399/บ้านเดี่ยวสองชั้น-unittype_11965
https://baania.com/th/project/เวนิโอ-สุขุมวิท-10-2505/2-bedroom-unittype_7539
https://baania.com/th/project/เดอะ-คอนเนค-รังสิต-13862/ทาวน์โฮมสองชั้น-unittype_32618
https://baania.com/th/project/บ้านเทอเรส-ฮิลล์-10596/บ้านเดี่ยวสองชั้น-unittype_26300
https://baania.com/th/project/โกลเด้น-ทาวน์-ศรีราชา-อัสสัมชัญ-9552/ซอร์เรนโต้-unittype_23923
https://baania.com/th/project/บ้านเมืองทองซิตี้โฮม-3-494/type-b-unittype_1171
https://baania.com/th/project/ดิ-เอสพลานาด-14769/3-bedroom-unittype_34333
https://baania.com/th/project/บ้านขวัญนคร-บางกรวย-ไทรน้อย-5097/บ้านเดี่ยวสามชั้น-unittype_13190
https://baania.com/th/project/บ้านจิตรณรงค์-3-5455/บ้านเดี่ยวสองชั้น-type-b-unittype_13852
https://baania.com/th/project/นายโฮม-พูลวิลล่า-ภูเก็ต-6185010c29f24100138ad120/พูลวิลล่าสองชั้น-61850210b9424100136bb42a
https://baania.com/th/project/บ้านสินไพบูลย์-2-13802/ทาวน์โฮมสามชั้น-unittype_32525
https://baania.com/th/project/มัลเบอร์รี่-โกรฟ-สุขุมวิท-16707/1-bedroom-unittype_38489
https://baania.com/th/project/เดอะ-แซนด์-วิลเลจ-11614/อาคารพาณิชย์สามชั้น-unittype_28397
https://baania.com/th/project/ซื่อตรง-โคซี่-บางบัวทอง-340-2261/tree-leaf-unittype_35183
https://baania.com/th/project/เอสเซ็นท์-อเวนิว-ระยอง-61d800e757a0db00146b7f13/home-office-61d801d525ee250014de3392
https://baania.com/th/project/ศุภาลัย-พาร์ควิลล์-นครศรีธรรมราช-16768/ศุภนัช-ใหม่-unittype_38212
https://baania.com/th/project/เดอะทรัสต์-ทาวน์โฮม-เกษตรนวมินทร์-นวลจันทร์-8524/ทาวน์โฮมสามชั้น-type-b-unittype_21562
https://baania.com/th/project/โอ-พี-แลนด์-10164/บ้านแฝดชั้นเดียว-unittype_28930
https://baania.com/th/project/บ้านปรารถนาพลัส-195/บ้านมณียา-ขายแล้ว-unittype_612
https://baania.com/th/project/อรุณทอง-4-9318/ทาวน์โฮมสองชั้น-type-a-unittype_23312
https://baania.com/th/project/เบล-อเวนิว-พระราม-9-8104/1-bedroom-type-d-unittype_22132
https://baania.com/th/project/บ้านทรัพย์ปรีชา-2-14152/บ้านเดี่ยวสองชั้น-unittype_33154
https://baania.com/th/project/แอท-ซิตี้-สุขุมวิท-101-1-15030/1-bedroom-unittype_34990
https://baania.com/th/project/บ้านนนนิภา-แม่โจ้-20/daisy-unittype_9
https://baania.com/th/project/บ้านแสนสิริ-พัฒนาการ-14202/บ้านแสนสิริ-ซิกซ์-unittype_33254
https://baania.com/th/project/ฮาบิทัส-9869/duplex-unittype_24920
https://baania.com/th/project/พัทยา-วิลล่า-เลค-แอนด์-พาร์ค-616fdc11f62011001350db2c/บ้านเดี่ยวชั้นเดียว-616fdc87f62011001350db2d
https://baania.com/th/project/สัมมากร-รังสิต-คลอง-2-3690/ellis-unittype_10644
https://baania.com/th/project/บ้านใหม่-เทพารักษ์-วงแหวน-7098/ทาวน์โฮมสามชั้น-unittype_17750
https://baania.com/th/project/ไนท์บริดจ์-ไพร์ม-รัชโยธิน-15182/1-bedroom-plus-unittype_35384
https://baania.com/th/project/เดอะ-ไนน์-แอท-ประชาสันติ-14528/ทาวน์โฮมสองชั้น-type-a-unittype_33903
https://baania.com/th/project/แลนซีโอ-คริป-ปิ่นเกล้า-วงแหวนฯ-ซ-วัดส้มเกลี้ยง-3352/cane-5f63314d5bdc5300198eb51c
https://baania.com/th/project/ลุมพินี-วิลล์-ราชพฤกษ์-บางแวก-2722/2-bedroom-unittype_8077
https://baania.com/th/project/ลุมพินี-วิลล์-รามคำแหง-60-2-2761/1-bedroom-unittype_8172
https://baania.com/th/project/บ้านทรายทองซิตี้โฮม-433/บ้านเดี่ยวสองชั้น-unittype_1101
https://baania.com/th/project/บ้านเด่นชัย-12602/บ้านเดี่ยวสองชั้น-unittype_30012

## Groupby

In [ ]:
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit.describe() #คำนวณค่าต่างๆ

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [ ]:
unit.groupby(['propertytype_name_en']).mean() #จัดกลุ่มโดยgroupby

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
propertytype_name_en,,,,,,,,,,,,,,,,,,
Apartment,25390.666667,5.0,NaN,102.419355,1.888571e+06,1.000000,NaN,2.857143,1.833333,1.410256,1.351351,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN
Commercial,22085.819249,4.0,22.959364,189.926256,4.440612e+06,2.307692,NaN,3.008294,1.672093,3.018248,2.819641,1.006711,1.005128,1.018519,1.172043,1.000000,1.040541,2.100000
Condo,21128.196115,2.0,NaN,63.843118,6.266300e+06,1.920354,NaN,2.069364,1.162651,1.394428,1.347425,1.000823,1.004831,1.002665,1.004463,1.061856,1.099099,1.000000
Detached House,21332.680872,1.0,55.199080,199.252515,6.674175e+06,2.971464,NaN,1.748077,1.990503,2.829650,3.216501,1.002169,1.013997,1.028730,1.110520,1.050297,1.049326,1.030888
Home office,22630.686217,6.0,28.114130,277.227152,1.047904e+07,4.800000,NaN,3.474320,2.872727,3.742331,2.738832,1.000000,1.035714,1.020408,1.196429,1.000000,1.083333,1.300000
Hotel,22806.960000,2362.0,NaN,79.938095,1.081375e+07,1.500000,NaN,1.333333,2.000000,1.320000,1.440000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN
Land,24747.428571,7.0,55.600000,NaN,5.687840e+06,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN
Office Space,22443.333333,7777.0,NaN,293.375000,1.583333e+07,NaN,NaN,2.000000,NaN,2.200000,2.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
Townhome,21071.993711,3.0,22.271695,129.529419,2.810930e+06,2.171598,NaN,2.115056,1.525657,2.336438,2.819327,1.002258,1.005234,1.008465,1.034083,1.000000,1.070681,1.066667
Twin house,22173.656956,20000.0,39.515116,140.449454,3.612469e+06,2.367347,NaN,1.816306,1.730043,2.379238,2.940615,1.002933,1.008728,1.027230,1.039007,1.037037,1.052174,1.064516
Warehouse / Factory,41124.166667,8.0,NaN,611.166667,1.840900e+07,NaN,NaN,2.333333,NaN,2.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
unit.groupby(['propertytype_name_en']).count() #การนับ

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,count_airconditioner,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
propertytype_name_en,,,,,,,,,,,,,,,,,,,,,
Apartment,42,42,42,42,42,42,0,31,7,2,...,6,4,5,0,0,0,42,42,42,42
Commercial,1704,1704,1704,1704,1704,1704,236,1389,1478,13,...,195,270,93,3,148,10,1704,1704,1704,1704
Condo,12717,12717,12717,12717,12717,12717,0,12359,10914,565,...,1449,5254,4257,97,111,168,12717,12717,12717,12717
Detached House,17670,17670,17670,17668,17670,17670,2436,14652,13976,806,...,7859,10094,3945,1849,2818,259,17670,17670,17670,17668
Home office,341,341,341,341,341,341,46,302,271,5,...,56,98,56,7,36,20,341,341,341,341
Hotel,25,25,25,25,25,25,0,21,4,2,...,1,7,8,0,0,0,25,25,25,25
Land,7,7,7,7,7,7,3,0,5,0,...,1,0,1,0,0,0,7,7,7,7
Office Space,6,6,6,6,6,6,0,4,3,0,...,0,0,0,0,1,0,6,6,6,6
Townhome,8110,8110,8110,8110,8110,8110,897,6562,7124,338,...,2675,3662,1379,85,764,180,8110,8110,8110,8110
Twin house,1991,1991,1991,1991,1991,1991,129,1667,1636,49,...,802,1065,282,27,230,62,1991,1991,1991,1991
Warehouse / Factory,12,12,12,12,12,12,0,12,10,0,...,0,0,0,0,0,0,12,12,12,12

# HW2
1. เปรียบเทียบราคาเฉลี่ยของ Detached house, Condo, Twin house และ Townhome
2. พื้นที่ (area_total_min_wa และ area_usable_min) และจำนวนห้องนอน
ของทรัพย์สินที่แพงที่สุดแต่ละชนิด
3. จำนวนที่จอดรถและห้องน้ำของของทรัพย์สินที่ถูกที่สุดแต่ละชนิด